/* Mobile & Tablet */
@media screen and (max-width: 799px) {
  .heading{
    font-family: 'Roboto',sans-serif;
    font-weight: 300;
    font-size: 20px;
}
.description{
    font-family: 'Roboto',sans-serif;
    letter-spacing: 0.35px;
    font-weight: 300;
    font-size: 16px;
}
  .author{
    font-family: 'Conv_ClanPro-Bold',Sans-Serif;
    color: #44444d;
    font-size: 14px;
}
a { text-decoration: none; color:#44444d }
.container {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.2s;
  margin:0.8rem;
  background-color:white;
  border-radius: 20px;
}

.container:hover {
  box-shadow: 0 14px 16px 0 rgba(0,0,0,0.2);
}
.image {
  max-width: 90%;
  margin:0.8rem;
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.centered {
  color:black;
  padding: 2px 16px;
}
  text{
      margin-bottom: 2vh;
  }
}  

/* PC Computer and above */
  @media screen and (min-width: 800px) {
    .heading{
      font-family: 'Roboto',sans-serif;
      font-weight: 300;
      font-size: 20px;
  }
  .description{
      font-family: 'Roboto',sans-serif;
      letter-spacing: 0.35px;
      font-weight: 100;
      font-size: 16px;
  }
    .container {
        margin:0.8rem;
        width:90%;
        border-radius: 20px;
        background-color:white;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
        align-items: center;
        justify-content: center;
        min-height:25vh;

        width:80%;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        align-items: center;
        flex-direction: row;
      }
      .author{
        font-family: 'Conv_ClanPro-Bold',Sans-Serif;
        color: #44444d;
        font-size: 14px;
    }
    a { text-decoration: none; color:#44444d }
      .container:hover {
        box-shadow: 0 14px 16px 0 rgba(0,0,0,0.2);
      }
    .centered {
        color:black;
        float:right;
        width: 70%;
        margin-left: 0.8rem;
        margin-right: 0.8rem;
      }
      .image{
        float:left;
        width: 30%;
        margin:0.8rem;
        border-radius: 20px;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
      }
      text{
        margin-bottom: 2vh;
        margin-left: 30px;
    }
}